@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-fredoka);
  --font-mono: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

@keyframes slide {
  0%, 28% {
    transform: translateX(0%);
  }

  33%, 61% {
    transform: translateX(-100%);
  }

  66%, 94% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}